name: R-CMD-check + pkgdown

on:
  push:
    branches: [ main, master ]
  pull_request:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  check-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup R
        uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - name: Setup Pandoc
        uses: r-lib/actions/setup-pandoc@v2

      - name: Install deps (pak)
        uses: r-lib/actions/setup-r-dependencies@v2
        with:
          needs: check, website
          extra-packages: |
            any::rcmdcheck
            any::pkgdown
            local::.

      - name: R CMD check
        env:
          _R_CHECK_CRAN_INCOMING_REMOTE_: "false"
          _R_CHECK_FORCE_SUGGESTS_: "false"   # <-- lets RHugin be missing
        run: |
          Rscript -e 'rcmdcheck::rcmdcheck(args = c("--no-manual","--as-cran"), error_on = "warning", check_dir = "check")'

      - name: Build pkgdown site
        run: |
          Rscript -e 'pkgdown::build_site_github_pages(new_process = FALSE, install = FALSE)'

      - name: Deploy to gh-pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs
          publish_branch: gh-pages
